@model Superleague.Data.Entities.Result

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Result</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeYellowCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeYellowCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayYellowCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayYellowCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeRedCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeRedCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayRedCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayRedCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Match)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Match.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
