@model Superleague.Models.ResultViewModel

@{
    ViewData["Title"] = "Results";
}

<head>
    <link rel="stylesheet" href="~/css/results.css" />
</head>

<body id="page-top">

    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Result.Id" />
        <input type="hidden" asp-for="Result.MatchId" />
        <input type="hidden" asp-for="Result.RoundId" />
        <input type="hidden" asp-for="Result.HomeTeamId" />
        <input type="hidden" asp-for="Result.AwayTeamId" />

        <div class="container-fluid">

            <div class="row py-4">

                <div class="col-lg-8">

                    <div class="card shadow border-left-primary mb-4">

                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Match Overview</h6>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="py-3 col-12">

                                    <div class="container justify-content-center">
                                        <div class="row">

                                            <div class="col-lg-4 col-md-4 text-center">
                                                <h6>
                                                    <i class="fa-regular fa-calendar-days"></i> @Model.Result.Round.Description
                                                </h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 text-center">
                                                <h6>
                                                    <i class="fa-solid fa-clock"></i> @Html.DisplayFor(model=> model.Result.Match.MatchDate)
                                                </h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 text-center">
                                                <h6>
                                                    <i class="fa-solid fa-location-dot"></i> @Model.Result.HomeTeam.Venue
                                                </h6>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="container justify-content-center py-5">
                                        <div class="row">

                                            <div class="col-lg-3 col-md-4 text-center">

                                                <img src="@Model.Result.HomeTeam.ImageURL" alt="Image" style="width:100px; height:110px;" />
                                                <div class="text-center">
                                                    <h5 class="py-1">@Model.Result.HomeTeam.Name</h5>
                                                </div>


                                            </div>
                                            <div class="col-lg-2 col-md-4 mb-3">
                                                <h5 class="py-4">
                                                    <input asp-for="Result.HomeGoals" type="number" min="0" class="form-control goalshome" />
                                                    <span asp-validation-for="Result.HomeGoals" class="text-danger"></span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-2 col-md-4 text-center">
                                                <h4 class="py-4" style="margin-top: 10px">
                                                    V
                                                </h4>
                                            </div>
                                            <div class="col-lg-2 col-md-4 mb-3">
                                                <h5 class="py-4">
                                                    <input asp-for="Result.AwayGoals" type="number" min="0" class="form-control goalsaway" />
                                                    <span asp-validation-for="Result.AwayGoals" class="text-danger"></span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-3 col-md-4 text-center">

                                                <img src="@Model.Result.AwayTeam.ImageURL" alt="Image" style="width:100px; height:110px;" />
                                                <div class="text-center">
                                                    <h5 class="py-1">@Model.Result.AwayTeam.Name</h5>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="container justify-content-center py-1">
                                        <div class="row">

                                            <div class="col-lg-3 col-md-4">

                                                <div class="text-right">
                                                    <h6 class="py-2">Yellow Cards</h6>

                                                </div>

                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <input asp-for="Result.HomeYellowCards" type="number" min="0" class="form-control homeyellow" />
                                            </div>
                                            <div class="col-lg-2 col-md-4 text-left">
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <input asp-for="Result.AwayYellowCards" type="number" min="0" class="form-control awayyellow" />
                                            </div>
                                            <div class="col-lg-3 col-md-4 text-center">

                                                <div class="text-left">
                                                    <h6 class="py-2">Yellow Cards</h6>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="container justify-content-center py-1">
                                        <div class="row">

                                            <div class="col-lg-3 col-md-4">

                                                <div class="text-right">
                                                    <h6 class="py-2">Red Cards</h6>
                                                </div>

                                            </div>
                                            <div class="col-lg-2 col-md-4 mb-3">
                                                <input asp-for="Result.HomeRedCards" type="number" min="0" class="form-control homered" />
                                            </div>
                                            <div class="col-lg-2 col-md-4 text-center">
                                                <h4 class="py-1">
                                                </h4>
                                            </div>
                                            <div class="col-lg-2 col-md-4 mb-3">
                                                <input asp-for="Result.AwayRedCards" type="number" min="0" class="form-control awayred" />
                                            </div>
                                            <div class="col-lg-3 col-md-4 text-center">

                                                <div class="text-left">
                                                    <h6 class="py-2">Red Cards</h6>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <div class="text-center">
                                <div class="form-group col-md-12">
                                    <input type="submit" class="btn btn-sm btn-primary float-right" value="Update" />
                                    <a asp-action="Index" class="btn btn-sm btn-outline-dark float-right mr-1">Cancel</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </form>

</body>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }

