@model Superleague.Data.Entities.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Round)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Round.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam.ImageURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
