@model Superleague.Models.MatchViewModel

@{
    ViewData["Title"] = "Edit Fixture";
}

<style>
    .select {
        width: 100%;
        border: 2px solid #aaa;
        border-radius: 4px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }

    .select:focus {
        border-color: royalblue;
        box-shadow: 0 0 4px royalblue;
    }

    .styled-table thead tr {
        background-color: royalblue;
        color: #ffffff;
        text-align: left;
    }
</style>

<body id="page-top">

    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="Match.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="container-fluid">

            <div class="d-sm-flex align-items-center justify-content-between">
                <h1 class="h3 mb-0 text-gray-800">Edit Fixture</h1>
            </div>

            <div class="row py-4">

                <div class="col-lg-3 col-md-4">

                    <div class="card shadow border-left-primary mb-4">

                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Match Info</h6>
                        </div>

                        <div class="card-body">
                            <div class="row">

                                <div class="container form-group col-md-12">
                                    <select asp-for="Match.RoundId" asp-items="@Model.RoundsList" class="select">
                                        <option disabled selected> Round </option>
                                    </select>
                                    <span asp-validation-for="Match.RoundId" class="text-danger"></span>
                                </div>

                                <hr />
                                <div class="py-2">
                                    <h5 class="col-md-12 ml-3">Teams</h5>
                                </div>
                                <div class="container form-group col-md-12">
                                    <select asp-for="Match.HomeTeamId" asp-items="@Model.TeamNamesList" class="combo select">
                                        <option disabled selected> Home Team</option>
                                    </select>
                                    <span asp-validation-for="Match.HomeTeamId" class="text-danger"></span>
                                </div>
                                <div class="container form-group col-md-12">
                                    <select asp-for="Match.AwayTeamId" asp-items="@Model.TeamNamesList" class="combo select">
                                        <option disabled selected> Away Team </option>
                                    </select>
                                    <span asp-validation-for="Match.AwayTeamId" class="text-danger"></span>

                                </div>
                                <div class="py-2">
                                    <h5 class="col-md-12 ml-3">Match Date</h5>
                                </div>
                                <div class="container form-group col-md-12">
                                    <input asp-for="Match.MatchDate" type="datetime-local" class="form-control select" />
                                    <span asp-validation-for="Match.MatchDate" class="text-danger"></span>
                                </div>

                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="text-center">
                                <div class="form-group col-md-12">
                                    <input type="submit" class="btn btn-sm btn-primary float-right" value="Update" />
                                    <a asp-action="Index" class="btn btn-sm btn-outline-dark float-right mr-1">Cancel</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="card shadow mb-4">

                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Match Overview</h6>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="py-3 col-12">

                                    <div class="container justify-content-center">
                                        <div class="row">
                                       
                                            <div class="col-lg-4 col-md-4 text-center">
                                                <h6>
                                                    <i class="fa-regular fa-calendar-days"></i> @Model.Match.Round.Description
                                                </h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 text-center">
                                                <h6>
                                                    <i class="fa-solid fa-clock"></i> @Html.DisplayFor(model=> model.Match.MatchDate)
                                                </h6>
                                            </div>
                                            <div class="col-lg-4 col-md-4 text-center">
                                                <h6>
                                                    <i class="fa-solid fa-location-dot"></i> @Model.Match.HomeTeam.Venue
                                                </h6>
                                            </div>
                                        </div>
                                       
                                    </div>

                                    <div class="container justify-content-center py-5">
                                        <div class="row ml-5">

                                            <div class="col-lg-3 col-md-4 text-center">
                                                
                                                <img src="@Model.Match.HomeTeam.ImageURL" alt="Image" style="width:90px; height:100px;" />
                                                <label>@Model.Match.HomeTeam.Name</label>
                                             
                                            </div>
                                            <div class="col-lg-5 col-md-4 text-center">
                                                <h5 class="py-5">
                                                    V
                                                </h5>
                                            </div>
                                            <div class="col-lg-3 col-md-4 text-center">

                                                <img src="@Model.Match.AwayTeam.ImageURL" alt="Image" style="width:90px; height:100px;" />
                                                <label>@Model.Match.AwayTeam.Name</label>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </form>

</body>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }

