@model Superleague.Data.Entities.GlobalStats

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GlobalStats</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMatches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMatches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalAverage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalAverage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeWins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeWins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayWins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayWins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Draws)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Draws)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalYellowCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalYellowCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRedCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRedCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestAttack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestAttack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorstAttack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorstAttack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestDefence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestDefence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorstDefence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorstDefence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MostWins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MostWins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessWins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessWins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MostDefeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MostDefeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessDefeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessDefeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MostDraws)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MostDraws)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessDraws)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessDraws)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MostYellowCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MostYellowCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessYellowCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessYellowCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MostRedCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MostRedCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessRedCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessRedCards)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
