@model Superleague.Models.TeamViewModel

@{
    ViewData["Title"] = $"{Model.Team.Name}";
}

<head>
    <link rel="stylesheet" href="~/css/teamDetails.css" />
</head>

<body id="page-top">

    <form asp-action="Details" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Team.Id" hidden />
        <input asp-for="Team.ImageURL" hidden />

        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-2 col-md-4 mb-4">
                    <div class="card-body">
                        <div class="mb-2 text-center">
                            <img src="@Model.Team.ImageURL" style="width:150px; height:160px" class="border-primary my-2" />
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4 mb-4">

                    <div class="card-body">

                        <div class="py-3">
                            <h1 class="mb-0 text-gray-900">@Model.Team.Name</h1>
                        </div>
                         <div class="py-3">
                            <h5 class="mb-0 text-gray-800"><i class="fa-solid fa-house-user"></i> @Model.Team.Venue</h5>
                        </div>
                        <div class="py-1">
                            <h5 class="mb-0 text-gray-800"><i class="fa-solid fa-map-location-dot"></i> @Model.Team.Country.Name</h5>
                        </div>

                    </div>

                </div>

                <div class="col-xl-2 col-md-4 mb-4 py-5">
                    <div class="card border-left-success shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-success text-uppercase mb-1">
                                        Won
                                    </div>
                                    <div class="h2 my-2 font-weight-bold text-gray-800 text-center">18</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-star fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-4 py-5">
                    <div class="card border-left-warning shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-warning text-uppercase mb-1">
                                        Drawn
                                    </div>
                                    <div class="h2 my-2 font-weight-bold text-gray-800 text-center">18</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-star-half-stroke fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-4 py-5">
                    <div class="card border-left-danger shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-danger text-uppercase mb-1">
                                        Lost
                                    </div>
                                    <div class="h2 my-2 font-weight-bold text-gray-800 text-center">18</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-regular fa-star fa-2x text-gray-300" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                        Played
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">4</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                        Scored
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">8</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                        Goal Average/Match
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">8</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-regular fa-futbol fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                        Booked (Yellow + Red Cards)
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">8</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-id-badge fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-6">

                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header bg-primary py-3">
                            <h6 class="m-0 font-weight-bold text-white">Players</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @if (Model.PlayerList.Any())
                                {
                                    <div class="container tbl-container">
                                        <div class="row tbl-fixed">

                                            <table id="" class="table-striped table-sortable">
                                                <thead>
                                                    <tr>
                                                        <th>

                                                        </th>
                                                        <th>
                                                            Name
                                                        </th>
                                                        <th>
                                                            Number
                                                        </th>
                                                        <th>
                                                            Position
                                                        </th>
                                                        <th>
                                                            Country
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.PlayerList)
                                                    {
                                                        <tr>
                                                            <td style="width: 25px">
                                                                <img src="@Url.Content(item.ImageURL)" alt="Image" class="image1" />
                                                            </td>
                                                            <td style="width: 200px">
                                                                @item.Name
                                                            </td>
                                                            <td style="width: 150px">
                                                                @item.Number
                                                            </td>
                                                            <td style="width: 150px">
                                                                @item.Position.Description
                                                            </td>
                                                            <td style="width: 200px">
                                                                @item.Country.Name
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="container justify-content-center col-12 py-5">
                                        <div class="py-3 text-center">
                                            <h6 class="text-dark"><i class="fa-solid fa-circle-exclamation"></i> No players yet</h6>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header bg-primary py-3">
                            <h6 class="m-0 font-weight-bold text-white">Staff</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @if (Model.StaffList.Any())
                                {
                                    <div class="container tbl-container">
                                        <div class="row tbl-fixed">

                                            <table id="" class="table-striped table-sortable">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Name</th>
                                                        <th>Function</th>
                                                        <th>Country</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.StaffList)
                                                    {
                                                        <tr>
                                                            <td style="width: 25px">
                                                                <img src="@Url.Content(item.ImageURL)" alt="Image" class="image1" />
                                                            </td>
                                                            <td style="width: 225px">
                                                                @item.Name
                                                            </td>
                                                            <td style="width: 225px">
                                                                @item.Function.Description
                                                            </td>
                                                            <td style="width: 225px">
                                                                @item.Country.Name
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="container justify-content-center col-12 py-5">
                                        <div class="py-3 text-center">
                                            <h6 class="text-dark"><i class="fa-solid fa-circle-exclamation"></i> No staff yet</h6>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>


</body>

<script src="~/js/tablesort.js"></script>















