@model Superleague.Models.TeamViewModel

@{
    ViewData["Title"] = $"{Model.Team.Name}";
}

<head>
    <link rel="stylesheet" href="~/css/teamEdit.css" />
</head>

<body id="page-top">

    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Team.Id" hidden />
        <input asp-for="Team.ImageURL" hidden />

        <div class="container-fluid">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h5 class="mb-0 text-gray-800">@Model.Team.Name</h5>
            </div>

            <div class="row">

                <div class="col-lg-8">

                    <div class="card shadow border-left-primary mb-4">

                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Edit Club</h6>
                        </div>

                        <div class="card-body">
                            <div class="row">

                                <div class="col-lg-1"></div>

                                <div class="col-md-9 col-lg-3">

                                    <img src="@Model.Team.ImageURL" id="output" style="width:150px; height:160px" class="border-primary my-2" onchange="readURL(this)" />
                                    <label class="text-center" asp-for="Team.ImageURL" for="uploadBox"> <i class="fas fa-camera-alt"></i> Image</label>
                                    <input type="file" id="uploadBox" name="file" asp-for="Team.ImageURL" class="form-control" accept="image/*" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />

                                </div>
                                <div class="col-md-9 col-lg-6 py-2">
                                    <h5>Details</h5>
                                    <div class="form-group col-md-12">
                                        <input asp-for="Team.Name" class="form-control" placeholder="Team Name" />
                                        <span asp-validation-for="Team.Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input asp-for="Team.Venue" class="form-control" placeholder="Venue" />
                                        <span asp-validation-for="Team.Venue" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12" style="margin-top: -6px;">
                                        <select asp-for="Team.CountryId" asp-items="@Model.CountryList" class="col-mx-6 select">
                                            <option disabled selected> Country </option>
                                        </select>
                                        <span asp-validation-for="Team.CountryId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="text-center">
                                <div class="form-group col-md-12">
                                    <input type="submit" onclick="return ValidateInput()" class="btn btn-sm btn-primary float-right" value="Save" />
                                    <a asp-action="Index" class="btn btn-sm btn-outline-dark float-right mr-1">Cancel</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>


    <div class="row">

        <div class="col-lg-12">

            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample" class="d-block card-header bg-primary py-3" data-toggle="collapse"
                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-white">Players</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample">
                    <div class="card-body">
                        @if (Model.PlayerList.Any())
                        {
                            <div class="d-sm-flex align-items-center justify-content-between mb-4 col-lg-12">
                                <div class="">
                                    <input type="search" id="myInput" onkeyup="myFunction()" placeholder="Search name" class="search">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <a asp-controller="Players" asp-action="Create" asp-route-id="@Model.Team.Id" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                                    Add New
                                </a>
                            </div>

                            <div class="container tbl-container py-5" style="margin-top: -50px;">
                                <div class="row tbl-fixed">
                                    <table id="myTable" class="table-striped table-sortable">
                                        <thead>
                                            <tr>
                                                <th>
                                                </th>
                                                <th>Name</th>
                                                <th>Number</th>
                                                <th>Position</th>
                                                <th>Country</th>
                                                <th class="text-center">Edit</th>
                                                <th class="text-center">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.PlayerList)
                                            {
                                                <tr>
                                                    <td style="width: 100px">
                                                        <img src="@Url.Content(item.ImageURL)" alt="Image" class="image1" />
                                                    </td>
                                                    <td style="width: 300px">
                                                        @item.Name
                                                    </td>
                                                    <td style="width: 200px">
                                                        @item.Number
                                                    </td>
                                                    <td style="width: 250px">
                                                        @item.Position.Description
                                                    </td>
                                                    <td style="width: 250px">
                                                        @item.Country.Name
                                                    </td>
                                                    <td style="width: 150px">
                                                        <div class="text-center">
                                                            <a asp-controller="Players" asp-action="Edit" asp-route-id="@item.Id" class="btn">
                                                                <i class="fa-solid fa-pen-to-square" style="color: dimgray"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td style="width: 100px">
                                                        <div class="text-center">
                                                            <form method="post">
                                                                <button asp-controller="Players" asp-action="Delete" asp-route-playerid="@item.Id" class="btn">
                                                                    <i class="fa-regular fa-trash-can" style="color: red"></i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {

                            <div class="container-fluid d-flex justify-content-center py-5">

                                <div class="col-md-12 py-3 justify-content-center">
                                    <div class="form-group col-md-12 text-center">
                                        <h6 class="text-dark"><i class="fa-solid fa-circle-exclamation"></i> No players yet</h6>
                                    </div>
                                    <hr />
                                    <div class="form-group col-md-12 text-center">
                                        <a asp-controller="Players" asp-action="Create" asp-route-id="@Model.Team.Id" class="btn btn-sm btn-success">
                                            Add New
                                        </a>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">

            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample2" class="d-block card-header bg-primary py-3" data-toggle="collapse"
                    role="button" aria-expanded="true" aria-controls="collapseCardExample2">
                    <h6 class="m-0 font-weight-bold text-white">Staff</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample2">
                    <div class="card-body">
                        @if (Model.StaffList.Any())
                        {
                            <div class="d-sm-flex align-items-center justify-content-between mb-4 col-lg-12">
                                <div class="">
                                    <input type="search" id="myInput" onkeyup="myFunction1()" placeholder="Search name" class="search">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <a asp-controller="Staffs" asp-action="Create" asp-route-id="@Model.Team.Id" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                                    Add New
                                </a>
                            </div>

                            <div class="container tbl-container py-5" style="margin-top: -50px;">
                                <div class="row tbl-fixed">
                                    <table id="myTable1" class="table-striped table-sortable">
                                        <thead>
                                            <tr>
                                                <th>
                                                </th>
                                                <th>Name</th>
                                                <th>Function</th>
                                                <th>Country</th>
                                                <th class="text-center">Edit</th>
                                                <th class="text-center">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.StaffList)
                                            {
                                                <tr>
                                                    <td style="width: 100px">
                                                        <img src="@Url.Content(item.ImageURL)" alt="Image" class="image1" />
                                                    </td>
                                                    <td style="width: 350px">
                                                        @item.Name
                                                    </td>
                                                    <td style="width: 250px">
                                                        @item.Function.Description
                                                    </td>
                                                    <td style="width: 250px">
                                                        @item.Country.Name
                                                    </td>
                                                    <td style="width: 200px">
                                                        <div class="text-center">
                                                            <a asp-controller="Staffs" asp-action="Edit" asp-route-id="@item.Id" class="btn">
                                                                <i class="fa-solid fa-pen-to-square" style="color: dimgray"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td style="width: 100px">
                                                        <div class="text-center">
                                                        <form method="post">
                                                            <button asp-controller="Staffs" asp-action="Delete" asp-route-staffid="@item.Id" class="btn">
                                                                <i class="fa-regular fa-trash-can" style="color: red"></i>
                                                            </button>
                                                        </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="container-fluid d-flex justify-content-center py-5">

                                <div class="col-md-12 py-3">
                                    <div class="form-group col-md-12 text-center">
                                        <h6 class="text-dark"><i class="fa-solid fa-circle-exclamation"></i> No staff yet</h6>
                                    </div>
                                    <hr />
                                    <div class="form-group col-md-12 text-center">
                                        <a asp-controller="Staffs" asp-action="Create" asp-route-id="@Model.Team.Id" class="btn btn-success btn-sm">
                                            Add New
                                        </a>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/tablesort.js"></script>
    <script src="~/js/searchInTeams.js"></script>
}
