@model IEnumerable<Superleague.Data.Entities.Team>

@{
    ViewData["Title"] = "Clubs";
}

<head>
    <link rel="stylesheet" href="~/css/teamCards.css" />
</head>

<div class="container-fluid py-3">
    @if (Model.Any())
    {
        @if (User.Identity.IsAuthenticated)
        {
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                @if (Model.Count() < 8)
                {
                    <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New
                    </a>
                }
            </div>
        }
           
        <div class="row py-3">
        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-md-6 mb-4 align-items-center justify-content-between d-sm-flex">
                <div id="team">
                    <div class="card" style="width: 17rem;">
                        <div class="card-body">
                            <center>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <img src="@Url.Content(item.ImageURL)" alt="Image" class="img-fluid w-50 mb-3 text-center p-2" style="width:100px; height:120px" />
                                </a>
                            </center>
                            <h2><b>@item.Name</b></h2>
                            <div class="p-1">
                                <h4>@item.Venue</h4>
                                <h6>@item.Country.Name</h6>
                            </div>
                        </div>
                        <div class="card-footer" style="border-radius: 5px">

                            @if (User.IsInRole("Admin"))
                            {
                                <div class="row justify-content-center">
                                    <div class="col-md-12 mb-2">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary w-100">Edit</a>
                                    </div>
                                </div>
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                        <button class="deleteTask btn-sm btn-outline-danger w-100" data-id="@item.Id" data-toggle="modal" data-target="#deleteTaskModal">Delete</button>
                                    </div>
                                </div>
                            }
                            
                        </div>
                    </div>
                    <br />
                </div>
            </div>

            <!--Modal-->
            <div class="modal fade" id="deleteTaskModal" tabindex="-1" aria-hidden="true" role="dialog" style="display:none">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger" id="exampleModalLabel1">Delete Function</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="container-fluid d-flex justify-content-center">
                                    <div class="mb-3">
                                        <h5 class="text-center">You are about to delete this Club</h5>
                                        <h6 class="text-center">Are you sure?</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <form method="post" asp-controller="Teams" asp-action="Delete" asp-route-id="@item.Id">
                                <input type="submit" value="Yes, Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal-->
        }
        </div>
    }
    else
    {
        <div class="container-fluid d-flex justify-content-center py-5">
            <div class="row col-6">
                <div class="col-md-12 py-3">
                    <div class="form-group col-md-12 py-1 text-center">
                        <h5 class="text-dark pl-3"><i class="fa-solid fa-circle-exclamation"></i> No teams yet</h5>
                    </div>
                    <hr />
                    <div class="form-group col-md-12 text-center">
                        <a asp-action="Create" class="btn btn-sm btn-success">
                            <i class="bi bi-circle-plus"></i> Add New
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }

    
</div>

@section Scripts{
    <script>
        $("#deleteTaskModal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) //Button that triggered the modal
            var id = button.find('button').data('id') //need to find the button and get id
            var url = '/delete/' + id; //url

            //Click delete task in modal
            $(document).on('click', '.delete_task', function () {
                if (confirm('Delete task')) {
                    $.ajax({
                        url: url,
                        type: "DELETE",
                        success: function (result) {
                            $('#deleteTaskModal').modal('hide') //hide modal on success
                            console.log("Deleting...");
                            window.location.href = '/';
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            })
        })
    </script>
}


