@model IEnumerable<Superleague.Data.Entities.Team>

@{
    ViewData["Title"] = "Clubs";
}

<head>
    <link rel="stylesheet" href="~/css/teamCards.css" />
</head>

<div class="container-fluid">
    @if (Model.Any())
    {
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Clubs Management</h1>
            <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New
            </a>
        </div>

        <div class="row">
        @foreach (var item in Model)
        {
                <div class="col-xl-3 col-md-6 mb-4 align-items-center justify-content-between d-sm-flex">
                <div id="team">
                    <div class="card" style="width: 17rem;">
                        <div class="card-body">
                            <center>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <img src="@Url.Content(item.ImageURL)" alt="Image" class="img-fluid w-50 mb-3 text-center p-2" style="width:100px; height:120px" />
                                </a>
                            </center>
                            <h2><b>@item.Name</b></h2>
                            <div class="p-1">
                                <h4>@item.Venue</h4>
                                <h6>@item.Country.Name</h6>
                            </div>
                        </div>
                            <div class="card-footer" style="border-radius: 5px">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary w-100">Edit</a>
                                 </div>
                                <div class="col-md-6">
                                    <form asp-action="Delete" asp-route-id="@item.Id" id="form" method="post">
                                            <button type="submit" class="btn btn-sm btn-outline-danger w-100" onclick="Delete(@item.Id)">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <br />
                </div>
            </div>
            
        }
        </div>
    }
    else
    {
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="h3 mb-0 text-gray-800"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No clubs yet</h4>
            <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New
            </a>
        </div>
    }
       

</div>


