@model IEnumerable<Superleague.Data.Entities.Team>

@{
    ViewData["Title"] = "Clubs";
}

<head>
    <link rel="stylesheet" href="~/css/teamCards.css" />
</head>

<div class="container-fluid">
    @if (Model.Any())
    {
        @if (User.Identity.IsAuthenticated)
        {
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Clubs <i class="fa-solid fa-angle-right"></i> All</h1>
                @if (Model.Count() < 8)
                {
                    <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New
                    </a>
                }
            </div>
        }
           
        <div class="row py-5">
        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-md-6 mb-4 align-items-center justify-content-between d-sm-flex">
                <div id="team">
                    <div class="card" style="width: 17rem;">
                        <div class="card-body">
                            <center>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <img src="@Url.Content(item.ImageURL)" alt="Image" class="img-fluid w-50 mb-3 text-center p-2" style="width:100px; height:120px" />
                                </a>
                            </center>
                            <h2><b>@item.Name</b></h2>
                            <div class="p-1">
                                <h4>@item.Venue</h4>
                                <h6>@item.Country.Name</h6>
                            </div>
                        </div>
                        <div class="card-footer" style="border-radius: 5px">

                            @if (User.IsInRole("Admin"))
                            {
                                <div class="row justify-content-center">
                                    <div class="col-md-12 mb-2">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary w-100">Edit</a>
                                    </div>
                                </div>
                            }
                            
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                       @* <form asp-action="Delete" asp-route-id="@item.Id" id="form" method="post">*@
                                            <button type="submit" class="btn btn-sm btn-outline-danger w-100" onclick="Delete(@item.Id)">Delete</button>
                                       @* </form>*@
                                    </div>
                                </div>
                            }
                            
                        </div>
                        
                    </div>
                    <br />
                </div>
            </div>
            
        }
        </div>
    }
    else
    {
        <div class="container-fluid d-flex justify-content-center py-5">
            <div class="row col-6">
                <div class="col-md-12 py-3">
                    <div class="form-group col-md-12 py-1 text-center">
                        <h5 class="text-dark pl-3"><i class="fa-solid fa-circle-exclamation"></i> No teams yet</h5>
                    </div>
                    <hr />
                    <div class="form-group col-md-12 text-center">
                        <a asp-action="Create" class="btn btn-sm btn-success">
                            <i class="bi bi-circle-plus"></i> Add New
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
       

</div>

@section Scripts{
    <script>
        function Delete(id) {
            var url = "Teams/Delete/" + id;
            event.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('form').submit();
                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function (data) {
                            if (data.success) {
                                window.location.reload();
                                toastr.success(data.message);
                            }
                            else {
                                window.location.reload();
                                toastr.success(data.message);
                            }
                        }
                    })
                }
            })
        }
    </script>
}


