@model IEnumerable<Superleague.Data.Entities.Player>

@{
    ViewData["Title"] = "Index";
}

<style>
    .styled-table thead tr {
        background-color: black;
        color: #ffffff;
    }

    .image1 {
        width: 50px;
        height: 60px;
    }

    .image2 {
        width: 50px;
        height: 50px;
    }
</style>

<body id="page-top">

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4 py-4">
            <h1 class="h5 mb-0 text-gray-800">Players</h1>
        </div>

        <div class="card shadow mb-4">

            <div class="card-header">
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="tablePlayers" class="table styled-table table-striped" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Number</th>
                                <th>Position</th>
                                <th></th>
                                <th>Team</th>
                                <th>Nationality</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width: 25px">
                                        <img src="@Url.Content(item.ImageURL)" alt="Image" class="image1" />
                                    </td>
                                    <td style="width: 200px">
                                        @item.Name
                                    </td>
                                    <td style="width: 150px">
                                        @item.Number
                                    </td>
                                    <td style="width: 150px">
                                        @item.Position.Description
                                    </td>
                                    <td style="width: 100px">
                                        <img src="@Url.Content(item.Team.ImageURL)" alt="Image" class="image2" />
                                    </td>
                                    <td style="width: 150px">
                                        @item.Team.Name
                                    </td>
                                    <td style="width: 200px">
                                        @item.Country.Name
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tablePlayers').DataTable();
        });

    </script>
}

