@model IEnumerable<Superleague.Data.Entities.Player>

@{
    ViewData["Title"] = "Index";
}

<style>
    .styled-table thead tr {
        background-color: black;
        color: #ffffff;
    }

    .image1 {
        width: 50px;
        height: 60px;
    }

    .image2 {
        width: 50px;
        height: 50px;
    }
</style>

<body id="page-top">

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4 py-4">
            <h1 class="h5 mb-0 text-gray-800">Players</h1>
        </div>

        <div class="card shadow mb-4">

            <div class="card-header">
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="tablePlayers" class="table styled-table table-striped" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Number</th>
                                <th>Position</th>
                                <th></th>
                                <th>Team</th>
                                <th>Nationality</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width: 25px">
                                        <img src="@Url.Content(item.ImageURL)" alt="Image" class="image1" />
                                    </td>
                                    <td style="width: 200px">
                                        @item.Name
                                    </td>
                                    <td style="width: 150px">
                                        @item.Number
                                    </td>
                                    <td style="width: 150px">
                                        @item.Position.Description
                                    </td>
                                    <td style="width: 100px">
                                        <img src="@Url.Content(item.Team.ImageURL)" alt="Image" class="image2" />
                                    </td>
                                    <td style="width: 150px">
                                        @item.Team.Name
                                    </td>
                                    <td style="width: 200px">
                                        @item.Country.Name
                                    </td>
                                    <td class="text-center" id="@item.Id" style="width: 150px">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn text-primary"> <i class="fa-solid fa-pen-to-square"></i> </a>
                                        <a asp-action="DeleteFromTable" asp-route-id="@item.Id" class="btn text-danger" id="btnDeleteItem"><i class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <!--Modal-->
                    <div id="deleteDialog" class="modal fade">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-danger">Delete</h4>
                                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                                </div>
                                <div class="modal-body">
                                    <h5 class="text-center">Are you sure?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" id="btnYesDelete">Yes, Delete</button>
                                    <button type="button" class="btn btn-outline-secondary" id="btnNoDelete">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal-->

                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tablePlayers').DataTable();
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var id = 0;

            $("a[id*=btnDeleteItem]").click(function () {
                //debugger;
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal("show");
                return false;
            });

            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal("hide");
                return false;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = "/Players/DeleteFromTable/" + id;
            });
        });
    </script>
    
}

