@model Superleague.Models.DashboardViewModel

@{
    ViewData["Title"] = "Index";
}

<body id="page-top">

    <div class="container-fluid">

        <div class="row">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h5 mb-0 text-gray-800">Dashboard</h1>
            </div>

        </div>

        @if (User.IsInRole("Admin"))
        {
            <div class="row">

                <div class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                        Users
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalUsers.ToString()</div>
                                </div>
                                <div class="col-auto">
                                    <i class="<i fa-solid fa-user fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                        Clubs
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalTeams.ToString()</div>
                                </div>
                                <div class="col-auto">
                                    <i class="<i fa-solid fa-people-group fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                        Players
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalPlayers.ToString()</div>
                                </div>
                                <div class="col-auto">
                                    <i class="<i fa-solid fa-person-running fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                        Staff Members
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalStaffs.ToString()</div>
                                </div>
                                <div class="col-auto">
                                    <i class="<i fa-solid fa-person fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
       

        <div class="row">

            <div class="card shadow mb-4 py-3 col-md-4 ml-4">
                <div class="card-header">
                    <h5 class="text-dark">Rounds</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tableRounds"  class="table table-striped" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th></th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0" width="100%">
                                @foreach (var item in Model.Rounds)
                                {
                                    <tr>
                                        <td>@item.Description</td>
                                        <td class="text-center">

                                            @if (@item.Complete == true)
                                            {
                                                <span class="badge badge-info pt-1">Completed</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger pt-1">Not Completed</span>    
                                            }
                                            
                                        </td>
                                        <td class="text-center" id="@item.Id">
                                            @if (item.Complete == true && item.Closed == false)
                                            {
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <a asp-action="CloseRound" asp-route-id="@item.Id" class="btn text-success" id="btnDeleteItem" data-toggle="tooltip" data-placement="bottom" title="Ready to Close">
                                                        <i class="fa-solid fa-lock-open text-success"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                     <h6 class="text-center pt-1"><i class="fa-solid fa-lock-open" data-toggle="tooltip" data-placement="bottom" title="Round Open"></i></h6>
                                                }
                                            }

                                            @if (item.Complete == true && item.Closed == true)
                                            {
                                                <h6 class="text-center pt-1" data-toggle="tooltip" data-placement="bottom" title="Round Closed"><i class="fa-solid fa-lock"></i></h6>
                                            }

                                            @if (@item.Complete == false && @item.Closed == false)
                                            {
                                                
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <!--Modal-->
                        <div id="deleteDialog" class="modal fade">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-primary">Close Round</h4>
                                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="text-center">Are you sure?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnYesDelete">Yes, Close</button>
                                        <button type="button" class="btn btn-outline-secondary" id="btnNoDelete">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Modal-->

                    </div>
                </div>
            </div>

            <div class="card shadow mb-4 py-3 col-md-7 ml-5">
                <div class="card-header">
                    <h5 class="text-dark">Matches</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tableMatches" class="table table-striped" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Round</th>
                                    <th>Home Team</th>
                                    <th>Away Team</th>
                                    <th>Status</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0" width="100%">
                                @foreach (var item in Model.Matches)
                                {
                                    <tr>
                                        <td>
                                            @item.Round.Description
                                        </td>
                                        <td>
                                            @item.HomeTeam.Name
                                        </td>
                                        <td>
                                            @item.AwayTeam.Name
                                        </td>
                                        <td>
                                            @if (item.Played)
                                            {
                                                <span class="badge badge-info">Played</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-warning">Upcoming</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.HasResult)
                                            {
                                                <span class="badge badge-success">Added</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>




</body>

@section Scripts
    {
    <script>
        $(document).ready( function () {
            $('#tableRounds').DataTable();
                "info" : false
        } );

        $(document).ready(function () {
            $('#tableMatches').DataTable();
            "info" : false
        });
    </script>
    <script type="text/javascript" >
        $(document).ready(function () {
            var id = 0;

            $("a[id*=btnDeleteItem]").click(function () {
                //debugger;
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal("show");
                return false;
            });

            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal("hide");
                return false;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = "/Dashboard/CloseRound/" + id;
            });
        });
    </script>
}



