@model IEnumerable<Superleague.Data.Entities.Staff>

@{
    ViewData["Title"] = "League Staff";
}

<style>
    .styled-table thead tr {
        background-color: black;
        color: #ffffff;
    }

    .image1 {
        width: 50px;
        height: 60px;
    }

    .image2 {
        width: 50px;
        height: 50px;
    }
</style>

<body id="page-top">

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4 py-4">
            <h1 class="h5 mb-0 text-gray-800">Staff Members</h1>
        </div>

        <div class="card shadow mb-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table id="tableStaff" class="table styled-table table-striped" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Function</th>
                                <th></th>
                                <th>Club</th>
                                <th>Country</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width: 25px">
                                        <img src="@Url.Content(item.ImageURL)" alt="Image" class="image1" />
                                    </td>
                                    <td style="width: 200px">
                                        @item.Name
                                    </td>
                                    <td style="width: 150px">
                                        @item.Function.Description
                                    </td>
                                    <td style="width: 100px">
                                        <img src="@Url.Content(item.Team.ImageURL)" alt="Image" class="image2" />
                                    </td>
                                    <td style="width: 150px">
                                        @item.Team.Name
                                    </td>
                                    <td style="width: 200px">
                                        @item.Country.Name
                                    </td>
                                    <td class="text-center" style="width: 150px">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn text-primary"> <i class="fa-solid fa-pen-to-square"></i> </a>
                                        <button class="deleteTask btn text-danger" data-id="@item.Id" data-toggle="modal" data-target="#deleteTaskModal">
                                            <i class="fa-solid fa-trash-can"></i> 
                                        </button>

                                        <!--Modal-->
                                        <div class="modal fade" id="deleteTaskModal" tabindex="-1" aria-hidden="true" role="dialog" style="display:none">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-danger" id="exampleModalLabel1">Delete Staff Member</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="container-fluid d-flex justify-content-center">
                                                                <div class="mb-3">
                                                                    <h5 class="text-center">You are about to delete this staff member</h5>
                                                                    <h6 class="text-center">Are you sure?</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <form method="post" asp-controller="Staffs" asp-action="DeleteFromTable" asp-route-id="@item.Id">
                                                            <input type="submit" value="Yes, Delete" class="btn btn-danger" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Modal-->
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tableStaff').DataTable();
        });

        $("#deleteTaskModal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) //Button that triggered the modal
            var id = button.find('button').data('id') //need to find the button and get id
            var url = '/delete/' + id; //url

            //Click delete task in modal
            $(document).on('click', '.delete_task', function () {
                if (confirm('Delete task')) {
                    $.ajax({
                        url: url,
                        type: "DELETE",
                        success: function (result) {
                            $('#deleteTaskModal').modal('hide') //hide modal on success
                            console.log("Deleting...");
                            window.location.href = '/';
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            })
        })
    </script>
}
